@model Clayton.Models.PostViewModel


<form asp-controller="Dashboard" asp-action="AddPost" method="post" role="form" id="AddPostForm">
    <h4>Add New Post</h4>

    @* There is a bug with ASP.Net Core 1.0.0 *@
    @*https://github.com/aspnet/Mvc/issues/4989*@
    @*<div asp-validation-summary="All" class="text-danger"></div>*@

    @if (!@ViewData.ModelState.IsValid)
    {
        var errors = ViewData.ModelState.Values.Select(item => item.Errors.FirstOrDefault()?.ErrorMessage).Where(item => item != null);
        <div class="alert alert-danger">
            <span>There are problems with your input:</span>
            <ul>
                @foreach (var error in errors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }


    <div class="form-group">
        <label asp-for="Post.Title" class="control-label"></label>
        <div>
            <input asp-for="Post.Title" class="form-control" />
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="SelectedCategories" class="control-label"></label>
        <div>
            <select multiple="multiple" class="bootstrapmulti" asp-for="SelectedCategories" asp-items="Model.CategoryList"></select>
            <span asp-validation-for="SelectedCategories" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Post.Content" class="control-label"></label>
        <div>
            <textarea asp-for="Post.Content" class="form-control tinyeditor" rows="10"></textarea>
            <span asp-validation-for="Post.Content" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div>
            <input type="submit" class="btn btn-primary" value="Save New Post" />
        </div>
    </div>

</form>