@model Clayton.Models.SiteSettings

<div class="container">
    <div id="cBrand">
        <img id="cBrandLogo" src="~/Images/logo.png" />
        <h2 id="cBrandName">
            <a asp-controller="Home" asp-action="Index">@Model.Name</a>
        </h2>
        @*<p>@Model.Slogan</p>*@
    </div>


    <div id="cNavContainer">
        <nav>
            @await Html.PartialAsync("_LoginPartial")
        </nav>
    </div>

</div>