@model Clayton.Models.SiteSettings

<div id="DashboardContainer">
    <h3>Site Settings</h3>

    <form asp-controller="SiteSettings" asp-action="Save" method="post" role="form" id="SiteSettingsForm">

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Slogan" class="control-label"></label>
            <div>
                <input id="PostSlug" asp-for="Slogan" class="form-control" />
                <span asp-validation-for="Slogan" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="Save Settings" />
            </div>
        </div>

    </form>


</div>
