
@model IEnumerable<Clayton.Models.Category>

<h3>Categories</h3>

<ul>
    @foreach (var cat in Model)
    {
        <li>
            <a href="@Url.RouteUrl("CategoryWithPosts", new { id = cat.CategoryId, categoryTitle = cat.Title })">@cat.Title</a>
        </li>
    }
</ul>



@*<h3>Clayton</h3>

<p>Want to ask me a question? You can reach me by calling, emailing, or locating the clostest golf course on a sunnny afternoon.</p>*@