
#cHeader{
    position: relative;
    padding:0;
    margin:0;
    border-top: 3px solid #405d9f;
    background-color: #232323;
    border-bottom: 3px solid #232323;
}

body {
    /*background: #fafafa;*/
    font-family: 'Open Sans', sans-serif;
}


#cNavContainer nav {
}

#cNavContainer nav a {
    padding: 5px 10px;
    color: #8a8a8a;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 14px;
}

#cNavContainer nav a:hover, #cNavContainer nav a.cActive {
    color: #fff;
}


#cBody{
    margin-top: 60px;
}

#cBrand{
    display: flex;
}

#cBrandName{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

#cBrandLogo{
    height: 50px;
    width: auto;
}

#cBrandName{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#cBrandName a {
    color:#fff;
}

#cBrand p {
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

pre {
    border-left: 6px solid #015249;
    padding: 10px;
    background-color: #eee;
    border-top: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}
