/*http://rubentd.com/blog/creating-a-multiplayer-game-with-node-js/*/

body {
    font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5{
    color: #555;
}

button:hover{
    cursor: pointer;
}


/* 
    Dashboard
*/

#DashboardContainer h3{
    margin: 20px 0;
}

.dashboardBtn {
    margin-bottom: 10px;
}


/*
    Basic layout
*/

#cHeader{
    position: relative;
    padding:0;
    margin:0;
    border-top: 3px solid #405d9f;
    background-color: #232323;
    border-bottom: 3px solid #232323;
}


#cBody{
    margin-top: 60px;
}


/*
    Header & Sidebar
*/

#BlogSidebar{

}

#BlogSidebar h3 {

}

#BlogSidebar ul{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-bottom: 20px;
}

#BlogSidebar ul li{
    list-style-type: none;
}


#cNavContainer nav {
}

#cNavContainer nav a {
    padding: 5px 10px;
    color: #8a8a8a;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 14px;
}

#cNavContainer nav a:hover, #cNavContainer nav a.cActive {
    color: #fff;
}

#cBrand{
    display: flex;
}

#cBrandName{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

#cBrandLogo{
    height: 50px;
    width: auto;
}

#cBrandName{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

#cBrandName a {
    color:#fff;
}

#cBrandName a:hover{
    text-decoration: none;
}

#cBrand p {
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

/*
    Blog entry
*/

#blogposts p{
    font-family: 'Lato', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

#blogposts h1, #blogposts  h3, #blogposts  h4, #blogposts h5{

}

.blogEntry h2 {
    font-size: 30px;
}

.blogEntry h3{
    font-size: 25px;
}

.blogEntry h2 a{
    color: #555;

    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.blogEntry h2 a:hover{
    text-decoration: none;
    color: #000;
}

.postContent{
    margin-top: 20px;
    font-size: 18px;
}

.postContentTeaserImg{
    border: 1px solid #eee;
    padding: 5px 5px 5px 0px;
}

.blogEntryDetails{
    padding: 10px;
    background-color: #fafafa;
}

.postDetails{
    display: inline;
    padding: 0px;
    margin: 0px;
    color: #444;
    font-family: 15px;
}

.postCategory{
    margin-right: 10px;
}

pre {
    border-left: 6px solid #405d9f;
    padding: 10px;
    background-color: #eee;
    border-top: 1px dashed #ccc;
    border-right: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
}

#CWCAbout h2{
    margin-bottom: 20px;
}

/*
    Enhancement(s) page
*/

.enhancementContent{
    margin-left: 50px;
}

/* 
    About Page
*/

.cwcFlex {
    display: flex;
}

#cwcAboutContent{
    margin: 15px;
}

#cwcAboutProfileImg{
    height: 325px;
    width: auto;
    border-radius: 50%;
    border: 2px solid #eee;
    opacity: 0.8;
}

#cwcAboutProfileImg:hover{
    opacity: 1;
}

/*
    View Category
*/

#ViewCategoryHeader{
    margin-bottom: 20px;
}

#ViewCategoryHeader h3{
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    /*background-color: #f8f8f8;*/
}