
/*body {
    font-family: 'Open Sans', sans-serif;
}


#cSidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: #262626;
    margin: 0;
    padding: 0;
}

#cLogoContainer{
    width: 300px;
    text-align: center;
}
#cLogo{
    width: 200px;
    height: auto;
}

#cBrand h2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

#cBrand h2 a{
    color: #fff;
}

#cBrandSlogan {
    text-align: center;
    color: #fff;
}


#cNavContainer{
    width: 180px;
    margin: 0 auto;
}

#cNavContainer nav a{
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    display: block;
    color: #fff;
    background-color: #405d9f;

    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

#cNavContainer nav a:hover{
    text-decoration: none;
}


#cNavContainer nav a:hover, #cNavContainer nav a.cActive {
    background-color: #57BC90;
    color: #fff;
}


#cBody{
    position: relative;
    margin-left: 300px;
    padding: 40px;
    max-width: 1000px;
}


#SideBarCategoriesContainer{
    color: #dddddd;
    padding: 20px;
}

#SideBarCategoriesContainer ul {
    width: 180px;
    margin: 0 auto;
    padding: 0;
}

#SideBarCategoriesContainer ul li {
    list-style-type: none;
    margin:0px;
}


#SideBarCategoriesContainer ul li a{
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
    display: block;
    color: #fff;
    background-color: #405d9f;

    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

#SideBarCategoriesContainer ul li a:hover{
    text-decoration: none;
    background-color: #57BC90;
    color: #fff;
}*/
