body {
    padding: 0px;
    margin: 0px;
    padding-top: 70px; /* Required for bootstrap fixed navbar layout */
}


#RegisterContainer{
    margin: 40px;
}
#RegisterForm{
    width: 600px;
}

#LoginContainer{
    margin: 40px;
}

#LoginForm{
    width: 600px;
}

#Navigation{
    background-color: yellow;
}