/*http://rubentd.com/blog/creating-a-multiplayer-game-with-node-js/*/

#DashboardContainer h3{
    margin: 20px 0;
}

.dashboardBtn {
    margin-bottom: 10px;
}

#blogposts h1, #blogposts  h3, #blogposts  h4, #blogposts h5{
    /*font-family: 'Baloo Bhaina', cursive;*/
    /*font-family: 'Muli', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
}

#blogposts p{
    /*font-family: 'Crimson Text', serif;*/
    /*font-family: 'Oxygen', sans-serif;*/
    font-family: 'Lato', sans-serif;
}

.blogEntry h3{
    font-size: 30px;
}

.postContent{
    margin-top: 20px;
    font-size: 18px;
}

.postDetails{
    display: inline;
    padding: 0px;
    margin: 0px;
    color: #444;
    font-family: 15px;
}

.postCategory{
    margin-right: 10px;
}

.enhancementContent{
    margin-left: 50px;
}

#BlogSidebar{
    padding: 10px;
    background-color: #eee;
    border-radius: 10px;
}