
<div id="CWCAbout">
    <h2>About</h2>

    <div class="cwcFlex">
        <div id="cwcAboutContent">
            <p>Hi, my name is Clayton. I am a 25 year old male from Birmingham, AL. I have always had a passion for technology and love building computers. I’m currently a consultant at Computer Technology Solutions in Birmingham, Alabama area. I specialize in creating enterprise .NET MVC solutions among other things. I hold multiple Microsoft certifications. You can read more about my job at CTS on my <a href="https://www.linkedin.com/in/clayton-rice-6a1a9738">LinkedIn</a> page.</p>
            <p>I have been writing HTML since I was 13. I published my first website in 2004, when I was 14. I attended the University of Alabama at Birmingham and graduated with an undergraduate degree in Information Systems in 2012. Since then I have been with CTS.</p>
            <p>Outside of work, I love hardware and building computers. Right now I am working on creating an internet presence so others can learn more about me. I play video games when I have time, and also enjoy a sunny day on the golf course. My best 18-hole score is only 92, but I am looking to improve that over the next year. I also have a passion for fast cars. Over the years I have had a few Corvettes. Right now I drive a twin-turbo Infiniti Q50.</p>
        </div>
        <div id="cwcAboutProfile">
            <img id="cwcAboutProfileImg" src="~/Images/clayton.jpg" />
        </div>
    </div>
</div>
