<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Code With Clayto</title>

    @await Html.PartialAsync("_Resources")

    <link href="~/Content/Design2.css" rel="stylesheet" />

</head>
<body>


    <section id="cSidebar">
        @await Component.InvokeAsync("Header")
        @await Component.InvokeAsync("SidebarCategories")
    </section>

    <section id="cBody">
        @RenderBody()
    </section>

    @{ Html.RenderPartial("_InitializeJavascript"); }

</body>
</html>

