<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Code with Clayto is a collection of programming how-tos and guides written by Clayton Rice.">
    <meta name="author" content="Clayton Rice">
    <meta name="keywords" cointent="clayton rice, clayto, programming, how to, guide, .net, mvc">
    <title>Code With Clayto @ViewBag.Title</title>
    @await Html.PartialAsync("_Resources")

    <link href="~/Content/Design1.css" rel="stylesheet" />

</head>
<body>


    <section id="cHeader">
        @await Component.InvokeAsync("Header")
    </section>

    <section id="cBody">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    @{ Html.RenderPartial("_InitializeJavascript"); }

</body>
</html>

