<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Code With Clayto</title>

    @await Html.PartialAsync("_Resources")

    <link href="~/Content/Design1.css" rel="stylesheet" />

</head>
<body>


    <section id="cHeader">
        @await Component.InvokeAsync("Header")
    </section>

    <section id="cBody">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    @* 
        Don't use await renderasync here. It will not render javascript correctly for multi select dropdown
        and potentially cause other issues, too.
    *@

    @{ Html.RenderPartial("_InitializeJavascript"); }

</body>
</html>

