<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Code With Clayto</title>

    @* Fonts *@
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Crimson+Text|Muli|Open+Sans+Condensed:300" rel="stylesheet">

    @* CSS *@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/lib/tether/dist/css/tether.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dist/dropzone.css" rel="stylesheet" />

    @* Scripts *@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/dropzone/dist/dropzone.js"></script>


    <link rel="shortcut icon" href="~/Images/favicon.ico">

</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Clayton's Website</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active"><a asp-controller="Enhancement" asp-action="Index" class="nav-link">Enhancements</a></li>*@
                @await Html.PartialAsync("LoginPartial")
            </ul>

        </div>
    </nav>



        <div class="container">

            @*<div class="navbarRainbow">
                <div class="colorOne"></div>
                <div class="colorTwo"></div>
                <div class="colorThree"></div>
                <div class="colorFour"></div>
            </div>*@



            @RenderBody()
        </div>


        <!-- Initialize plugins -->
        <script type="text/javascript">
            $(document).ready(function () {
                tinymce.init({
                    selector: '.tinyeditor',
                    plugins: "image",
                    //images_upload_url: "/Image/TinyMceUpload"
                });


                $('.bootstrapmulti').multiselect();
            });




        </script>

    </body>
    </html>

