
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    @*<li class="nav-item"><a asp-controller="Dashboard" asp-action="Index" class="nav-link">Dashboard</a></li>
    <li class="nav-item"><a asp-controller="Enhancement" asp-action="Index" class="nav-link">Enhancements</a></li>
    <li class="nav-item"><a asp-controller="Account" asp-action="Manage" class="nav-link">Manage Account</a></li>
    <li class="nav-item"><a asp-controller="Account" asp-action="Logout" class="nav-link">Log off</a></li>*@

    <a is-active-route asp-controller="Home" asp-action="Index">Home</a>
    <a is-active-route asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    <a is-active-route asp-controller="Enhancement" asp-action="Index">Enhancements</a>
    <a is-active-route asp-controller="Account" asp-action="Manage">Manage Account</a>
    <a is-active-route asp-controller="SiteSettings" asp-action="Index">Settings</a>
    <a is-active-route asp-controller="Account" asp-action="Logout">Log off</a>
} 
else
{
    @*<li class="nav-item"><a id="registerLink" asp-controller="Account" asp-action="Register" class="nav-link">Register</a></li>
    <li class="nav-item"><a id="loginLink" asp-controller="Account" asp-action="Login" class="nav-link">Log in</a></li>*@
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="CWC" asp-action="About">About</a>
    <a asp-controller="CWC" asp-action="Contact">Contact</a>
    @*<a id="registerLink" asp-controller="Account" asp-action="Register">Register</a>*@
    @*<a id="loginLink" asp-controller="Account" asp-action="Login">Log in</a>*@

}
