
@model Clayton.Models.HomeViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject SignInManager<IdentityUser> SignInManager


<div class="container">
    <div class="row">

        <div class="col-9">

            <div id="blogposts">

                @if (Model.Posts.Count(x => !x.DeletedDate.HasValue && x.Active) == 0)
                {
                    <p>There are no posts. Please check again later.</p>
                }

                @*@{Html.RenderPartial("_BlogPosts", Model);}*@

                @{Html.RenderPartial("_ShortBlogPosts", Model);}

            </div>

        </div>

        <div class="col-3" id="BlogSidebar">
            @await Component.InvokeAsync("SidebarCategories")
        </div>

    </div>
</div>

   
