@{ 
    Layout = "_Layout";
}

@model Clayton.Models.HomeViewModel


<div class="jumbotron">
    <h1 class="display-3">Welcome to @ViewBag.SiteName</h1>
    <p class="lead">This is a work in progress. Eventually, this site will be used as Clayton's blog.</p>
</div>

    
<div id="blogposts">
    @foreach (var post in Model.Posts)
    {
        <h3>@post.Title</h3>
        <p>@post.Content</p>
    }
</div>
   
