@{ 
    Layout = null;
}

@model Clayton.Models.ViewModels.ChangePasswordViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Form Modal</h4>
</div>
<form asp-controller="Account" asp-action="ChangePassword" data-ajax="true" data-ajax-method="POST" data-ajax-update="#ChangePasswordDiv" id="ChangePasswordForm">
    <div class="modal-body">
        <div class="form-horizontal">

            @* There is a bug with ASP.Net Core 1.0.0 *@
            @*https://github.com/aspnet/Mvc/issues/4989*@
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            @if (!@ViewData.ModelState.IsValid)
            {
                var errors = ViewData.ModelState.Values.Select(item => item.Errors.FirstOrDefault()?.ErrorMessage).Where(item => item != null);
                <div class="alert alert-danger">
                    <span>There are problems with your input:</span>
                    <ul>
                        @foreach (var error in errors)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>
            }

            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <div>
                    <input type="password" asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <div>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>



