
@model Clayton.Models.ViewModels.LoginViewModel


<div id="LoginContainer">
    <h2>Please log in below.</h2>

    <form asp-controller="Account" asp-action="Login" method="post" role="form" id="LoginForm">
        <h4>Enter your details below</h4>
        <hr />
        <input type="hidden" asp-for="ReturnUrl" />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <div>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <div>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="Log in" />
            </div>
        </div>

    </form>
</div>

